In [4]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
# import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv('../data/StudentsPerformance.csv')
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Checking Missing Values

In [10]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

# Checking duplicates

In [13]:
df.duplicated().sum()

np.int64(0)

# Checking datatypes

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

# Checking no. of unique values of each column

In [16]:
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

# Checking stats

In [17]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [20]:
print("categories in gender variable:", end=" ")
print(df['gender'].unique())

print("categories in race/ethnicity variable:", end=" ")
print(df['race/ethnicity'].unique())

print("categories in parental level of eduction variable:", end=" ")
print(df['parental level of education'].unique())

print("categories in lunch variable:", end=" ")
print(df['lunch'].unique())

print("categories in test preparation course variable:", end=" ")
print(df['lunch'].unique())

categories in gender variable: ['female' 'male']
categories in race/ethnicity variable: ['group B' 'group C' 'group A' 'group D' 'group E']
categories in parental level of eduction variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categories in lunch variable: ['standard' 'free/reduced']
categories in test preparation course variable: ['standard' 'free/reduced']

# defining numerical and categorical columns

In [21]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != "O"]
categorical_features = [feature for feature in df.columns if df[feature].dtype == "O"]

print("We have {} numercal features: {}".format(len(numeric_features), numeric_features))
print("We have {} categorical features: {}".format(len(categorical_features), categorical_features))

We have 3 numercal features: ['math score', 'reading score', 'writing score']
We have 5 categorical features: ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

# Adding columns for total score and average

In [23]:
df['total score'] = df['math score'] + df['reading score'] + df['writing score']
df['average'] = df['total score']/3

In [24]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [25]:
full_marks_count = (df['average'] == 100).sum()

# 4. Count the number of students who got an average less than or equal to 20.
low_scorers_count = (df['average'] <= 20).sum()

# 5. Print the results.
print(f"Number of students who got full marks: {full_marks_count}")
print(f"Number of students with an average less than or equal to 20: {low_scorers_count}")

Number of students who got full marks: 3
Number of students with an average less than or equal to 20: 2